body{
  font-family: 'Hind', sans-serif;
  background: #f1f1f1;
}

.center{
  text-align: center;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.form-control {
  background: #f1f1f1;
    border: 1px solid #0069b0;
    box-shadow: none;
  }

.btn-danger{
  background: -webkit-linear-gradient(top, rgb(236, 82, 84) 0%, rgb(236, 82, 84) 54%, rgb(229, 25, 27) 56%, rgb(229, 25, 27) 100%);
background: -o-linear-gradient(top, rgb(236, 82, 84) 0%, rgb(236, 82, 84) 54%, rgb(229, 25, 27) 56%, rgb(229, 25, 27) 100%);
background: -ms-linear-gradient(top, rgb(236, 82, 84) 0%, rgb(236, 82, 84) 54%, rgb(229, 25, 27) 56%, rgb(229, 25, 27) 100%);
background: -moz-linear-gradient(top, rgb(236, 82, 84) 0%, rgb(236, 82, 84) 54%, rgb(229, 25, 27) 56%, rgb(229, 25, 27) 100%);
background: linear-gradient(to bottom, rgb(236, 82, 84) 0%, rgb(236, 82, 84) 54%, rgb(229, 25, 27) 56%, rgb(229, 25, 27) 100%);
border: none;
text-transform: uppercase;
font-weight: 500;
box-shadow: 0 2px 5px #828282c2;
    padding: 6px 20px;
}

.navbar-default{
  background: #0069b0;
color: #fff;
margin-bottom: 0px;
box-shadow: 0px 0px 10px #073f65;
border: none;
width: 100%;
}

.nav>li>a{
  padding: 10px 25px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
  text-transform: uppercase;
  color: white;
  padding-top: 18px;
padding-bottom: 18px;
}

.navbar-default .navbar-toggle{
  border-color: white;
  border: none;
}

.navbar-default .navbar-toggle .icon-bar{
  background: white;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
      background-color: #3088c5;
}

.section{
  background: white;
  padding: 30px 0px;
  background: #f1f1f1;
}
.section-noticias{
  background: #eae9e9;
  padding-bottom: 0px;
}

.section-upload{
  background: #f1f1f1;
  padding: 70px 0px;
  padding-top: 0px;
}
.section-register{
  background: #f1f1f1;
  padding-top: 0px;
}

.section.section-head {
    height: auto;
  background: #0069b0;
      background-size: cover;
      position: relative;
      max-height: 1080px;
      padding: 0px;
      padding-top: 0px;
}


.logof{
  max-width: 200px;
  margin: 20px auto;
  display: block;
}

.head-text{
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}



.title-y{
  color: #ffed00;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 0px 3px 6px #074067;
        margin-bottom: 10px;
}
.title-r{
  text-shadow: rgb(229, 25, 27) 5px 0px 0px, rgb(229, 25, 27) 4.90033px 0.993347px 0px, rgb(229, 25, 27) 4.60531px 1.94709px 0px, rgb(229, 25, 27) 4.12668px 2.82321px 0px, rgb(229, 25, 27) 3.48353px 3.58678px 0px, rgb(229, 25, 27) 2.70151px 4.20736px 0px, rgb(229, 25, 27) 1.81179px 4.6602px 0px, rgb(229, 25, 27) 0.849836px 4.92725px 0px, rgb(229, 25, 27) -0.145998px 4.99787px 0px, rgb(229, 25, 27) -1.13601px 4.86924px 0px, rgb(229, 25, 27) -2.08073px 4.54649px 0px, rgb(229, 25, 27) -2.94251px 4.04248px 0px, rgb(229, 25, 27) -3.68697px 3.37732px 0px, rgb(229, 25, 27) -4.28444px 2.57751px 0px, rgb(229, 25, 27) -4.71111px 1.67494px 0px, rgb(229, 25, 27) -4.94996px 0.7056px 0px, rgb(229, 25, 27) -4.99147px -0.291871px 0px, rgb(229, 25, 27) -4.83399px -1.27771px 0px, rgb(229, 25, 27) -4.48379px -2.2126px 0px, rgb(229, 25, 27) -3.95484px -3.05929px 0px, rgb(229, 25, 27) -3.26822px -3.78401px 0px, rgb(229, 25, 27) -2.4513px -4.35788px 0px, rgb(229, 25, 27) -1.53666px -4.75801px 0px, rgb(229, 25, 27) -0.560763px -4.96845px 0px, rgb(229, 25, 27) 0.437495px -4.98082px 0px, rgb(229, 25, 27) 1.41831px -4.79462px 0px, rgb(229, 25, 27) 2.34258px -4.41727px 0px, rgb(229, 25, 27) 3.17346px -3.86382px 0px, rgb(229, 25, 27) 3.87783px -3.15633px 0px, rgb(229, 25, 27) 4.4276px -2.32301px 0px, rgb(229, 25, 27) 4.80085px -1.39708px 0px, rgb(229, 25, 27) 4.98271px -0.415447px 0px;
    font-weight: bold;
    font-size: 32px;
    color: #ffed00;
    line-height: 28px;
}

.title-w{
  color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.title-border{
  border-top: 2px solid #fff;
border-bottom: 2px solid #fff;
padding: 20px 0px;
    margin: 20px auto;
    line-height: 26px;
        max-width: 600px;
}


.person-left{
  position: absolute;
left: 0px;
max-width: 350px;
height: auto;
bottom: 0px;
}
.person-right{
  position: absolute;
  right: 0px;
  max-width: 350px;
  height: auto;
  bottom: 0px;
}




/* REGISTRO */

.bar-register{
  background: #454545;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0px;
  font-size: 16px;
}

/* bases */

.section-bases{
  padding: 70px 0px;
  padding-bottom: 20px;
  background: white;
}
.title{
  text-align: center;
text-transform: uppercase;
font-size: 40px;
font-weight: bold;
color: #0069b0;
margin-bottom: 30px;
}

.subtitle{
  text-align: center;
text-transform: uppercase;
font-size: 30px;
font-weight: bold;
color: #0069b0;
margin-bottom: 30px;
word-break: keep-all;
margin-top: 0px;
}

.more{
  display: none;
}

.show-more{
  display: block;
}

.faq{
      word-break: break-all;
}
.faq h3{
  color: #0069b0;
  font-weight: bold;
  border-left: 3px solid #e5191b;
  padding-left: 10px;
  word-break: break-word;
}

.footer{
  padding: 30px 0px;
  background: #0269b0;
  color: white;
  text-align: center;
  box-shadow: inset 0 0 12px #053c63;
}

.footer img{
  margin: 15px auto;
  margin-bottom: 40px;
}
.footer-links {
  margin-bottom:40px;
}
.footer-links li{
  list-style-type: none;
  display: inline-block;
  margin: 10px 0px;
}

.terms a{
  font-size: 14px;
  color: white;
}

.footer-links li a{
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;

}
.terms a{
  text-decoration: underline;

}



/* logimn */
.section-login{
  padding-top: 100px;
  background: #f1f1f1;
  display: none;ç
}

.forgot{
  font-weight: bold;
font-size: 17px;
color: #525252;
margin-top: 25px;
}

.info{
  font-size: 13px;
    margin-top: 10px;
    display: inline-block;
}

.section-login  .form-horizontal .control-label{
  text-align: left;
}
.form-register .control-label{
  text-align: left;
}
.form-contact .control-label{
  text-align: left;
}

.btn-sent{
  margin: auto;
display: inherit;
margin-top: 10px;
background: none;
color: #0269b0;
font-weight: bold;
border: none;
border-bottom: 1px solid #0269b0;
border-radius: 0px;
padding-bottom: 0px;
font-size: 16px;
}



/* Chekbox */


.ck-custom {
  display: block;
  position: relative;
  padding-left: 40px !important;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}

/* Hide the browser's default checkbox */
.ck-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
      top: 0;
      left: 0;
      height: 34px;
      width: 34px;
      background-color: #f1f1f1;
      border: 2px solid #0069b0;
      border-radius: 4px;

}

/* On mouse-over, add a grey background color */
.ck-custom:hover input ~ .checkmark {
  /* background-color: #fff; */
}

/* When the checkbox is checked, add a blue background */
.ck-custom input:checked ~ .checkmark {
  background-color:#0069b0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ck-custom input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ck-custom .checkmark:after {
  left: 11px;
top: 5px;
width: 8px;
height: 14px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.ck-info{
  padding-top: 10px;
  display: inline-block;
  text-align: left;
}

.form-register .checkbox{
  text-align: left;
      margin-bottom: 8px;
}

.btn-subir{
  width: 120px;
margin: auto;
text-align: center;
margin-top: 40px
}

.line{
  display: block;
  height: 2px;
  background: #0269b0;
  max-width: 80%;
  margin: 10px auto;
  margin-top: 30px;
}
.link-edit{
  text-transform: uppercase;
  font-weight: bold;
  color: #0269b0;
  padding: 10px 0px;
  display: inline-block;
  text-decoration: none;
}
.link-edit img{
  width: 20px;
    position: relative;
    top: -6px;
}
.logout{
  color: #383333;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -10px;
}

.hello{
  color: #383333;
text-transform: uppercase;
font-weight: bold;
margin-top: 70px;
margin-bottom: 30px;
}

.btn-adjunt{
  background: #0269b0;
margin-left: 15px !important;
border-radius: 0px;
box-shadow: -1px 3px 3px 0px #b7b7b7;
}

.input-upload{
  background: white !important;
border-radius: 0px;
border-color: #e6e6e6;
box-shadow: inset -1px 2px 7px #ccc2c2ee;
}

.bar-edit{
overflow: hidden;
text-align: left;
  display: none;
}

.col-custom{
  max-width: 770px;
margin: auto;
float: none;
}

.bar-edit .container{
    text-align: left;
    max-width: 700px;
}
.bar-edit span{
  color: yellow;
    display: inline-block;
    position: relative;
    float: right;
    cursor: pointer;
    padding-right: 10px;
    font-weight: bold;
    font-family: arial;
}

.form-edit{
  display: none;
}


.collapse-base > a{
  display: block;
      text-align: center;
      margin-bottom: 10px;
      color: white;

      background: -webkit-linear-gradient(top, rgb(107, 168, 209) 0%, rgb(32, 124, 186) 41%, rgb(0, 105, 176) 100%);
background: -o-linear-gradient(top, rgb(107, 168, 209) 0%, rgb(32, 124, 186) 41%, rgb(0, 105, 176) 100%);
background: -ms-linear-gradient(top, rgb(107, 168, 209) 0%, rgb(32, 124, 186) 41%, rgb(0, 105, 176) 100%);
background: -moz-linear-gradient(top, rgb(107, 168, 209) 0%, rgb(32, 124, 186) 41%, rgb(0, 105, 176) 100%);
background: linear-gradient(to bottom, rgb(107, 168, 209) 0%, rgb(32, 124, 186) 41%, rgb(0, 105, 176) 100%);
text-decoration: none;
max-width: 570px;
margin: 15px auto;
line-height: 35px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;

}
.collapse-base > div{
  max-width: 550px;
      margin: auto;
      text-align: justify;
}


.collapse-base a[aria-expanded="true"]:after {
    content: "-";
    /* -webkit-transform: rotate(90deg);
    transform: rotate(90deg); */
}


.collapse-base > a:after {
  content: "+";
  position: relative;
  top: 8px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
  right: 20px;
  z-index: 100;
  font-size: 20px;
  color: #fff226;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-inner .item .new{
  height: 380px;
  overflow: hidden;
  background: #0360a2;
}

.new{
  position: relative;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: 4px 11px 17px 1px #adadad;
      margin-bottom: 30px;
}

.new img{
  width: 100%;
  max-width: 100%;
  height: 210px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}
.new .new_title{
  position: absolute;
    background: #000000bf;
    color: white;
    text-transform: uppercase;
    width: 100%;
      top: 168px;
    padding: 10px;
}

a.readmore{
  background: #e5191b;
  color: white;
  display: inline-block;;
  width: 120px;
  padding: 10px 20px;
  text-align: center;
}

.carousel-indicators {
      bottom: -40px;
}
.carousel-indicators li{
  width: 12px;
  height: 12px;
}
.carousel-indicators .active {
      border: 1px solid #e5191b;
          background: #e5191b;
          width: 15px;
          height: 15px;
}
.new-wrapper{
  background: #0060a2;
    color: white;
    overflow: hidden;

          border-bottom-right-radius: 20px;
}

.new_content{
  padding: 10px 20px;
      height: 57px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
}

.new_date{
  padding-left: 20px;
}


.date-line{
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #0269b0;
    border-bottom: 1px solid #0269b0;
    margin: 20px auto;
}

.container-page{
  padding-top: 50px;
    word-break: break-all;
}
.container-page img{
  max-width: 100%;
margin: 10px auto;
}
.share img{
  margin: 0px;
}
.logo-text{
  text-shadow: rgb(229, 25, 27) 3px 0px 0px, rgb(229, 25, 27) 2.83487px 0.981584px 0px, rgb(229, 25, 27) 2.35766px 1.85511px 0px, rgb(229, 25, 27) 1.62091px 2.52441px 0px, rgb(229, 25, 27) 0.705713px 2.91581px 0px, rgb(229, 25, 27) -0.287171px 2.98622px 0px, rgb(229, 25, 27) -1.24844px 2.72789px 0px, rgb(229, 25, 27) -2.07227px 2.16926px 0px, rgb(229, 25, 27) -2.66798px 1.37182px 0px, rgb(229, 25, 27) -2.96998px 0.42336px 0px, rgb(229, 25, 27) -2.94502px -0.571704px 0px, rgb(229, 25, 27) -2.59586px -1.50383px 0px, rgb(229, 25, 27) -1.96093px -2.27041px 0px, rgb(229, 25, 27) -1.11013px -2.78704px 0px, rgb(229, 25, 27) -0.137119px -2.99686px 0px, rgb(229, 25, 27) 0.850987px -2.87677px 0px, rgb(229, 25, 27) 1.74541px -2.43999px 0px, rgb(229, 25, 27) 2.44769px -1.73459px 0px, rgb(229, 25, 27) 2.88051px -0.838247px 0px;
  color: #ffed00 !important;
  line-height: 13px!important;
    padding-top: 15px!important;
    padding-bottom: 10px !important;
}

.infot{
  width: 30px;
  height: 30px;
  background: url(../images/help.png) center;
  display: inline-block;
  position: relative;
  top: 2px;
  right: -35px;
  position: absolute;
  cursor: pointer;
}

.toolx{
    padding: 10px;
      border-radius: 5px;
      background: #0269b0;
      display: none;
      max-width: 150px;
      color: white;
      position: absolute;
      z-index: 100000;
      right: 12px;
      top: -40px;
      user-select: none;


}


.new .new_title{

}

.socials{
  width: 300px;
margin: 40px auto;
display: block;
}
.socials .share{
  display: inline-block;
  float: left;
  margin-right: 15px;
}
.socials span.icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../images/socials.png);
}
.socials span.icon:hover{
  opacity: 0.8;
  cursor: pointer;
}

.socials span.icon.fb{

}

.socials span.icon.google{
  background-position: -50px 0px;
}
.socials span.icon.twitter{
background-position: -100px 0px;
}
.socials span.icon.whatsapp{
background-position: -150px 0px;
}

@media only screen and (min-width : 992px) {

  .logotop{
    margin-top: 100px;
  }

  .container-page{
    padding-top: 100px;
  }

  .navbar{
    position:fixed;
    z-index: 1000;
  }

  .new img {
    max-width: 100%;
  }

  .infot{
    right: -20px;
  }
  .ck-custom{
    float: none;
  }
  .checkmark{
    margin: auto;
    right: 0px;
  }

  .form-register .checkbox{
    text-align: center;
  }
  .ck-info{
    padding-top: 20px;
    display: inline-block;
    text-align: center;
  }
  .section.section-head {
    background: url(../images/bg.png);
    /* height: 100vh; */
    overflow: hidden;
min-height: 850px;
  }
  .head-text{
        padding-top: 160px;
  }
}


@media only screen and (min-width : 1600px) {

  .head-text{
    padding-top: 210px;
  }
  .title-y{
    font-size: 30px;
  }
  .title-w{
      font-size: 24px;
  }

  .title-r{
    font-size: 44px;
    line-height: 36px;
  }

  .title-border{
    max-width: 750px;
    line-height: 36px;
  }
}
